<%= search_form_for @search, url: spree.stock_admin_reports_path do |s| %>
  <div class="form-group">
    <%= label_tag nil, Spree.t(:count_on_hand), class: 'inline' %>
    
    <div class="row">
      <div class="col-md-6">
        <%= s.text_field :count_on_hand_gteq, class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <%= s.text_field :count_on_hand_lteq, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions filter-actions">
    <%= button Spree.t(:search), 'icon-search'  %>
  </div>
<% end %>
