<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  <%= Spree.t(:stock, scope: :stock_reports) %>
<% end %>

<div class="well">
  <%= render partial: 'spree/admin/reports/stock_criteria' %>
</div>

<table class="table table-bordered admin-report" data-hook="stock">
  <thead>
    <tr>
      <th><%= Spree.t(:sku) %></th>
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:stock_location) %></th>
      <th><%= Spree.t(:count_on_hand) %></th>
    </tr>
  </thead>
  <tbody>
    <% @stock_items.each do |stock_item| %>
      <tr>
        <td><%= stock_item.variant.sku %></td>
        <td><%= link_to stock_item.variant.try(:name), edit_admin_product_path(stock_item.variant) %></td>
        <td><%= stock_item.stock_location.name %></td>
        <td><%= stock_item.count_on_hand %></td>
      </tr>
    <% end %>
  </tbody>
</table>
